
</html>
        <% if user_signed_in? %>
            <ul>
                <li>
                    <%= link_to "Mon Profil (modifier)", edit_user_registration_path, :class =>'user' %>
                </li>
                <li>
                    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, :class =>'user' %>
                </li>
            </ul>
        <% else %>
            <%= link_to "Connexion", new_user_session_path, :class =>'user' %>
        <% end %>
        <!-- // page content -->

        <!-- copyright -->
        <div class="copyright">
            <div class="container py-4">
                <div class=" text-center">
                    <p>© 2019 Dental Health. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
                </div>
            </div>
        </div>
        <!-- //copyright -->
                
        <!-- move top -->
        <div class="move-top text-right">
            <a href="#home" class="move-top"> 
                <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
            </a>
        </div>
        <!-- move top -->
    </body>
</html>
