<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Bonjour <%= @user.username %>,</h1>
        <p>
            Tu t'es inscrit sur Covipsy19 en utilisant l'e-mail suivant : <%= @user.email %>.
        </p>
        <p>
            Pour accéder à ton espace, connecte-toi en cliquant sur 
                <a href= <%= @url %> >ce lien</a>
                .
        </p>
        <p>
            À très vite sur Covipsy19 !
        </p>
    </body>
</html>
