  <h3 class="main_question">Partie 1 : Anxiété/Dépression</h3>
  <p>Le confinement peut avoir des conséquences psychiques pouvant prendre la forme de problématiques anxieuses et/ou dépressives.<br><br>
	Cette échelle (HADS) est un instrument qui permet de dépister ces troubles. Elle comporte 14 items cotés de 0 à 3. Sept questions se rapportent à l’anxiété et sept autres à la dimension dépressive, permettant ainsi l’obtention de deux scores (note maximale de chaque score = 21).</p>
