  <h3 class="main_question">Partie 3 : Violences conjugales</h3>
	<p>
		Cette échelle (short WAST) est un instrument qui permet le dépistage des violences conjugales physiques et psychiques. Elle est composée de 7 items qui permettent de définir s’il y a maltraitance ou non au sein du couple. 
	</p>


