<h4 class="about-left">Question 1 / 3</h4>
<hr>
<h4>Je ris facilement</h4> 
<br>

<%= f.collection_radio_buttons :q1, [["0", "Très souvent"],["1","Souvent"],["2","Rarement"],["3","Très rarement"]], :first, :last, :checked => session[:survey_params]["q1"] do |b| %> 
<%= b.label { b.radio_button + " " + b.text } %><br>

<%end%>

