<div class="step">
  <h3 class="main_question"><strong>10/27</strong>Je ne m’intéresse plus à mon apparence</h3>

  <div class="form-group">
    <label class="container_radio version_2">Plus du tout
      <input type="radio" name="survey[q10]" value="3" id="survey_q10_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Je n’y accorde pas autant d’attention que je devrais
      <input type="radio" name="survey[q10]" value="2" id="survey_q10_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Il se peut que je n’y fasse plus autant attention
      <input type="radio" name="survey[q10]" value="1" id="survey_q10_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">J’y prête autant d’attention que par le passé
      <input type="radio" name="survey[q10]" value="0" id="survey_q10_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>