<div class="step">
  <h3 class="main_question"><strong>10/27</strong>Je ne m’intéresse plus à mon apparence</h3>

  <div class="form-group">
    <label class="container_radio version_2">Plus du tout
      <%= radio_button_tag 'survey[q10]', 3, session[:survey_params]['q10'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Je n’y accorde pas autant d’attention que je devrais
      <%= radio_button_tag 'survey[q10]', 2, session[:survey_params]['q10'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Il se peut que je n’y fasse plus autant attention
      <%= radio_button_tag 'survey[q10]', 1, session[:survey_params]['q10'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">J’y prête autant d’attention que par le passé
      <%= radio_button_tag 'survey[q10]', 0, session[:survey_params]['q10'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>