<div class="step">
  <h3 class="main_question"><strong>11/27</strong>J’ai la bougeotte et n’arrive pas à tenir en place</h3>

  <div class="form-group">
    <label class="container_radio version_2">Oui, c’est tout à fait le cas
      <%= radio_button_tag 'survey[q11]', 3, session[:survey_params]['q11'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Un peu
      <%= radio_button_tag 'survey[q11]', 2, session[:survey_params]['q11'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Pas tellement
      <%= radio_button_tag 'survey[q11]', 1, session[:survey_params]['q11'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Pas du tout
      <%= radio_button_tag 'survey[q11]', 0, session[:survey_params]['q11'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>