<div class="step">
  <h3 class="main_question"><strong>12/27</strong>Je me réjouis d’avance à l’idée de faire certaines choses</h3>

  <div class="form-group">
    <label class="container_radio version_2">Autant qu’avant
      <input type="radio" name="survey[q12]" value="0" id="survey_q12_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Un peu moins qu’avant
      <input type="radio" name="survey[q12]" value="1" id="survey_q12_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Bien moins qu’avant
      <input type="radio" name="survey[q12]" value="2" id="survey_q12_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Presque jamais
      <input type="radio" name="survey[q12]" value="3" id="survey_q12_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>