<div class="step">
  <h3 class="main_question"><strong>13/27</strong>J’éprouve des sensations soudaines de panique</h3>

  <div class="form-group">
    <label class="container_radio version_2">Vraiment très souvent
      <%= radio_button_tag 'survey[q13]', 3, session[:survey_params]['q13'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Assez souvent
      <%= radio_button_tag 'survey[q13]', 2, session[:survey_params]['q13'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Pas très souvent
      <%= radio_button_tag 'survey[q13]', 1, session[:survey_params]['q13'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <%= radio_button_tag 'survey[q13]', 0, session[:survey_params]['q13'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>