<div class="step">
  <h3 class="main_question"><strong>19/27</strong>Consommez-vous ce produit ?</h3>
  <h4>Héroïne</h4>

  <div class="form-group">
    <label class="container_radio version_2">Jamais (ou faible fréquence)
      <input type="radio" name="survey[q19]" value="0" id="survey_q19_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par mois
      <input type="radio" name="survey[q19]" value="1" id="survey_q19_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par mois
      <input type="radio" name="survey[q19]" value="2" id="survey_q19_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une fois par semaine
      <input type="radio" name="survey[q19]" value="3" id="survey_q19_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plusieurs fois par semaine
      <input type="radio" name="survey[q19]" value="4" id="survey_q19_4" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Tous les jours
      <input type="radio" name="survey[q19]" value="5" id="survey_q19_5" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>