<h4 class="about-left">Question 2 / 3</h4>
<hr>
<h4>Je me fais du soucis</h4> 
<br>

<%= f.collection_radio_buttons :q2, [["0", "Très souvent"],["1","Souvent"],["2","Rarement"],["3","Très rarement"]], :first, :last, :checked => session[:survey_params]["q2"] do |b| %> 
<%= b.label { b.radio_button + " " + b.text } %><br>

<%end%>

