<div class="step">
  <h3 class="main_question"><strong>2/3</strong>Je me fais du soucis</h3>

  <div class="form-group">
    <label class="container_radio version_2">Très souvent
      <%= radio_button_tag 'survey[q2]', 0 %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Souvent
      <%= radio_button_tag 'survey[q2]', 1 %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Rarement
      <%= radio_button_tag 'survey[q2]', 2 %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Très rarement
      <%= radio_button_tag 'survey[q2]', 3 %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>
