<div class="step">
  <h3 class="main_question"><strong>21/27</strong>En général comment décriviez-vous votre relation de couple ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Très tendue
      <%= radio_button_tag 'survey[q21]', 2, session[:survey_params]['q21'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Quelque peu tendue
      <%= radio_button_tag 'survey[q21]', 1, session[:survey_params]['q21'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Aucune tension
      <%= radio_button_tag 'survey[q21]', 0, session[:survey_params]['q21'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>