<div class="step">
  <h3 class="main_question"><strong>21/27</strong>En général comment décriviez-vous votre relation de couple ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Très tendue
      <input type="radio" name="survey[q21]" value="2" id="survey_q21_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Quelque peu tendue
      <input type="radio" name="survey[q21]" value="1" id="survey_q21_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Aucune tension
      <input type="radio" name="survey[q21]" value="0" id="survey_q21_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>