<div class="step">
  <h3 class="main_question"><strong>22/27</strong>Quand il y a dispute dans votre couple, solutionnez-vous le conflit avec…</h3>

  <div class="form-group">
    <label class="container_radio version_2">beaucoup de difficultés
      <%= radio_button_tag 'survey[q22]', 2, session[:survey_params]['q22'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Une certaine difficulté
      <%= radio_button_tag 'survey[q22]', 1, session[:survey_params]['q22'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Aucune difficulté
      <%= radio_button_tag 'survey[q22]', 0, session[:survey_params]['q22'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>