<div class="step">
  <h3 class="main_question"><strong>25/27</strong>Les disputes se terminent-elles parfois par des gifles, des coups ou de la bousculade ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Souvent
      <%= radio_button_tag 'survey[q25]', 2, session[:survey_params]['q25'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <%= radio_button_tag 'survey[q25]', 1, session[:survey_params]['q25'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <%= radio_button_tag 'survey[q25]', 0, session[:survey_params]['q25'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>