<div class="step">
  <h3 class="main_question"><strong>25/27</strong>Les disputes se terminent-elles parfois par des gifles, des coups ou de la bousculade ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Souvent
      <input type="radio" name="survey[q25]" value="2" id="survey_q25_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <input type="radio" name="survey[q25]" value="1" id="survey_q25_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <input type="radio" name="survey[q25]" value="0" id="survey_q25_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>