<div class="step">
  <h3 class="main_question"><strong>26/27</strong>Avez-vous parfois peur de ce que peut dire ou faire votre partenaire ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Souvent
      <%= radio_button_tag 'survey[q26]', 2, session[:survey_params]['q26'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <%= radio_button_tag 'survey[q26]', 1, session[:survey_params]['q26'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <%= radio_button_tag 'survey[q26]', 0, session[:survey_params]['q26'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>