<div class="step">
  <h3 class="main_question"><strong>27/27</strong>Votre partenaire a-t-il déjà abusé de vous physiquement ?</h3>

  <div class="form-group">
    <label class="container_radio version_2">Souvent
      <input type="radio" name="survey[q27]" value="2" id="survey_q27_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <input type="radio" name="survey[q27]" value="1" id="survey_q27_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <input type="radio" name="survey[q27]" value="0" id="survey_q27_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>