<h2>Question 3</h2>
<p> 
	<%= f.label :q3, "Je suis de bonne humeur" %>
	<%= f.select :q3, options_for_select([["Très souvent", 3], ["Assez souvent", 2], ["Occasionnellement", 1], ["Très occasionnellement", 0]], session[:survey_params]["q3"]), class:"form-control" %>
</p>
