<div class="step">
  <h3 class="main_question"><strong>3/27</strong>J’ai une sensation de peur comme si quelque chose d’horrible allait m’arriver</h3>

  <div class="form-group">
    <label class="container_radio version_2">Oui, très nettement
      <input type="radio" name="survey[q3]" value="3" id="survey_q3_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Oui, mais ce n’est pas trop grave
      <input type="radio" name="survey[q3]" value="2" id="survey_q3_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Un peu, mais cela ne m’inquiète pas
      <input type="radio" name="survey[q3]" value="1" id="survey_q3_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Pas du tout
      <input type="radio" name="survey[q3]" value="0" id="survey_q3_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>
