<h4 class="about-left">Question 3 / 3</h4>
<hr>
<h4>Je suis de bonne humeur</h4> 
<br>

	<%= f.collection_radio_buttons :q3, [["0", "Très souvent"],["1","Souvent"],["2","Rarement"],["3","Très rarement"]], :first, :last, :checked => session[:survey_params]["q3"] do |b| %> 
	<%= b.label { b.radio_button + " " + b.text } %><br>

<%end%>

