<div class="step">
  <h3 class="main_question"><strong>3/27</strong>J’ai une sensation de peur comme si quelque chose d’horrible allait m’arriver</h3>

  <div class="form-group">
    <label class="container_radio version_2">Oui, très nettement
      <%= radio_button_tag 'survey[q3]', 3, session[:survey_params]['q3'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Oui, mais ce n’est pas trop grave
      <%= radio_button_tag 'survey[q3]', 2, session[:survey_params]['q3'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Un peu, mais cela ne m’inquiète pas
      <%= radio_button_tag 'survey[q3]', 1, session[:survey_params]['q3'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Pas du tout
      <%= radio_button_tag 'survey[q3]', 0, session[:survey_params]['q3'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>
