<div class="step">
  <h3 class="main_question"><strong>4/27</strong>Je ris facilement et vois le bon côté des choses</h3>

  <div class="form-group">
    <label class="container_radio version_2">Autant que par le passé
      <%= radio_button_tag 'survey[q4]', 0, session[:survey_params]['q4'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plus autant qu’avant
      <%= radio_button_tag 'survey[q4]', 1, session[:survey_params]['q4'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Vraiment moins qu’avant
      <%= radio_button_tag 'survey[q4]', 2, session[:survey_params]['q4'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Plus du tout
      <%= radio_button_tag 'survey[q4]', 3, session[:survey_params]['q4'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>