<div class="step">
  <h3 class="main_question"><strong>5/27</strong>Je me fais du souci</h3>

  <div class="form-group">
    <label class="container_radio version_2">Très souvent
      <input type="radio" name="survey[q5]" value="3" id="survey_q5_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Assez souvent
      <input type="radio" name="survey[q5]" value="2" id="survey_q5_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Occasionnellement
      <input type="radio" name="survey[q5]" value="1" id="survey_q5_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Très occasionnellement
      <input type="radio" name="survey[q5]" value="0" id="survey_q5_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>