<div class="step">
  <h3 class="main_question"><strong>6/27</strong>Je suis de bonne humeur</h3>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <input type="radio" name="survey[q6]" value="3" id="survey_q6_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Rarement
      <input type="radio" name="survey[q6]" value="2" id="survey_q6_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Assez souvent
      <input type="radio" name="survey[q6]" value="1" id="survey_q6_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">La plupart du temps
      <input type="radio" name="survey[q6]" value="0" id="survey_q6_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>