<div class="step">
  <h3 class="main_question"><strong>7/27</strong>Je peux rester tranquillement assis(e) à ne rien faire et me sentir décontracté(e)</h3>

  <div class="form-group">
    <label class="container_radio version_2">Oui, quoi qu’il arrive
      <%= radio_button_tag 'survey[q7]', 0, session[:survey_params]['q7'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Oui, en général
      <%= radio_button_tag 'survey[q7]', 1, session[:survey_params]['q7'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Rarement
      <%= radio_button_tag 'survey[q7]', 2, session[:survey_params]['q7'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <%= radio_button_tag 'survey[q7]', 3, session[:survey_params]['q7'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>