<div class="step">
  <h3 class="main_question"><strong>8/27</strong>J’ai l’impression de fonctionner au ralenti</h3>

  <div class="form-group">
    <label class="container_radio version_2">Presque toujours
      <input type="radio" name="survey[q8]" value="3" id="survey_q8_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Très souvent
      <input type="radio" name="survey[q8]" value="2" id="survey_q8_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <input type="radio" name="survey[q8]" value="1" id="survey_q8_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <input type="radio" name="survey[q8]" value="0" id="survey_q8_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>