<div class="step">
  <h3 class="main_question"><strong>9/27</strong>J’éprouve des sensations de peur et j’ai l’estomac noué</h3>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <%= radio_button_tag 'survey[q9]', 0, session[:survey_params]['q0'] == '0' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <%= radio_button_tag 'survey[q9]', 1, session[:survey_params]['q0'] == '1' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Assez souvent
      <%= radio_button_tag 'survey[q9]', 2, session[:survey_params]['q0'] == '2' %>
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Très souvent
      <%= radio_button_tag 'survey[q9]', 3, session[:survey_params]['q0'] == '3' %>
      <span class="checkmark"></span>
    </label>
  </div>
</div>