<div class="step">
  <h3 class="main_question"><strong>9/27</strong>J’éprouve des sensations de peur et j’ai l’estomac noué</h3>

  <div class="form-group">
    <label class="container_radio version_2">Jamais
      <input type="radio" name="survey[q9]" value="0" id="survey_q9_0" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Parfois
      <input type="radio" name="survey[q9]" value="1" id="survey_q9_1" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Assez souvent
      <input type="radio" name="survey[q9]" value="2" id="survey_q9_2" class="required">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="form-group">
    <label class="container_radio version_2">Très souvent
      <input type="radio" name="survey[q9]" value="3" id="survey_q9_3" class="required">
      <span class="checkmark"></span>
    </label>
  </div>
</div>