<%= form_with model: @survey, url: surveys_path, local: true, required: true, class: "form-group", :validate => true do |f| %>
  <%= render "#{@survey.current_question}", :f => f %>

  <div id="bottom-wizard">
    <%= f.submit "Précédent", class: "backward", :name => "back_button" unless @survey.first_question? %>
    <%= f.submit "Suivant", class: "forward" %>
  </div>

<% end %>
